<div class="text-center loginform">
  <main class="form-signin m-auto">
    <form class="form" action="/signup" method="POST">
      {{! <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> }}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90
    "
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        ></path>
      </svg>
      <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>


             {{#if errors }}
              {{#each errors }}
                <div class="alert alert-danger alert-dismissible fade show " role="alert">{{ this.msg }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {{/each}}
            {{/if}}

         {{#if signuperr}}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">{{ signuperr}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
      {{/if}}

      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          name="name"
          id="floatingInput"
          placeholder="Name"
        />
        <label for="floatingInput">Name</label>
      </div>
     
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control"
          name="email"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="place"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Place</label>
      </div>
      <div class="form-floating mb-2">
        <input
          type="number"
          class="form-control"
          name="age"
          id="floatingInput"
          placeholder="Name"
        />
        <label for="floatingInput">Age</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          name="confirm_password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
      <div class="m-3">
        <label>
          <a class="nav-link" href="/">Login</a>
        </label>
      </div>
      {{! <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> }}
    </form>
  </main>
</div>